@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Sniglet:wght@400;800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
 @plugin "daisyui" {
   themes: light --default;
 }

@plugin "daisyui/theme" {
  name: "light";
  default: true;
 /* Brand */
  --color-primary: oklch(0.6533 0.2684 354.75);
  --color-secondary: oklch(0.6383 0.255151 11.1089);
  --color-accent: oklch(0.4554 0.1855 297.68);

  /* Base */
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0.01 95);
  --color-base-300: oklch(92% 0.015 95);

  /* Neutral */
  --color-neutral: oklch(35% 0.01 260);
  --color-neutral-content: oklch(96% 0 0);

  /* Feedback */
  --color-success: oklch(70% 0.17 145);
  --color-error: oklch(62% 0.24 28);
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
